name: DevOps Project CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Build Docker image
      run: |
        docker build -t devops-website .
        
    - name: Test website
      run: |
        docker run -d --name test-site devops-website
        sleep 5
        curl -f http://localhost:80 || exit 1
        docker stop test-site